{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-responsive">
                    </div>

                {% endfor %}
            </div>


            <div class="col-lg-6">
                <h1 class="text-center">
                    {{ product.name }}
                </h1>
                <div class="">
                    <p>
                        PRICE: {{ product.price }}
                    </p>
                </div>
                        <div>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="description" data-toggle="tab" href="#description" role="tab" aria-controls="home">
        Описание
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="delivery" data-toggle="tab" href="#delivery" role="tab" aria-controls="profile" aria-selected="false">
        Доставка
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content product-description" id="myTabContent">
  <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description">
      {{ product.description }}
  </div>
  <div class="tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery">
      <h1>Как мы осуществляем доставку</h1>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
</div>
                <div>
                    <form id="form_byuing" class="form-inline" action="{% url 'cart_adding' %}">
                        {% csrf_token %}
                        <div class="form-group">
                        <input type="number" class="form-control marrrgin" name="number" id="number">
                        </div>

                        <div class="form-group">
                            <button id="submit_btn" type="submit" class="btn btn-success btn-buy"
                    data-product="{{ product.id }}" data-name = "{{ product.name }}" data-price="{{ product.price}}">
                        Купить
                    </button>
                    </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}